DirectoryIndex index.php
RewriteEngine On
#https://helponnet.com/2022/01/08/root-to-subfolder-redirection/
#rewrite root to subfolder
#including all files and folders
#exclude the destination folder
#RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !^/public [NC]
RewriteRule ^(.*)$ /public/$1 [L]
<Files "\.(gif|jpe?g|png)$">
    order deny,allow
    allow from all
</Files>

#Options -MultiViews
#RewriteBase /public
# change above to your site i.e., RewriteBase /whatever/public/
# Redirect Trailing Slashes...
#RewriteRule ^(.*)/$ /$1 [L,R=301]
# Handle Front Controller...
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ /public/index.php [L]
#RewriteRule ^(.*)$ /$1 [L]
