<div class="app">
  <div class="text-center">
    <img src="/assets/img/finn.png" width="80">
    <div class="title">Take away bestilling</div>
    <div class="subtitle">Demo af Finn Skjoldager</div>
    <div class="hvadviljeg"><a href="https://finnskjold.dk"><img src="/assets/img/succes2.png" width="40">Hvad vil jeg ?</a></div>
  </div>
  <div class="container">
    <div class="row">
          <div class="col-md-10 offset-md-1">
            <a class="btn btn-outline-dark ml-1  button2" routerLink="/order"><i class="fa fa-table"></i> Order</a>
            <a class="btn btn-outline-dark ml-1  button2" routerLink="/customer"><i class="fa fa-table"></i> Kunde</a>
            <a class="btn btn-outline-dark ml-1  button2" routerLink="/item"><i class="fa fa-table"></i> Mad</a>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>